# Ignore binary and image files.
mkfs
mkrom
build
*.elf
*.lst
*.bin
*.mcs
*.img

# Ignore clangd lsp files.
.cache
compile_commands.json

# Ignore Docker run instruction
*.ps1

# Ignore personal blog
PA*.md